@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    background: #F5F5FB;
}
p {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
.show {
    display: block !important;
}
.grey-bar {
    background: #222222;
    height: 30px;
}
.content-wrapper {
    padding: 0 25px;
}
.container {
    box-shadow: 0px 0px 2px 0px rgba(34, 60, 80, 0.2);
    background: white;
    margin: 0 auto;
    width: 1050px;
    @media (max-width: 950px) {
        width: 800px;
    }
    @media (max-width: 850px) {
        width: 700px;
    }
    @media (max-width: 750px) {
        width: 600px;
    }
}
.main-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
    font-size: 48px;
    @media (max-width: 950px) {
        font-size: 38px;
    }
    @media (max-width: 550px) {
        font-size: 28px;
    }
}
.sub-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border-bottom: 4px solid #6B5EF7;
    padding: 0 5px;
    padding-bottom: 5px;
    display: inline-block;
}
.Ai {
    &__img-wrapper {
        display: flex;

        align-items: center;
        img {
            width: 50%;
        }
    }
    &__video {
        width: 80%;
        display: none;
        margin: 20px 0px;
    }
}
.MainPlex {
    &__img-wrapper {
        img {
            width: 100%;
            margin: -20px 0px;
        }
    }
}
.DigiU {
    &__img-wrapper {
        display: flex;
        img {
            width: 50%;
        }
    }
}
.NiceCash {
    &__img-wrapper {
        display: flex;
        img {
            width: 50%;
            padding: 1px;
        }
    }
}
.HELIUM {
    &__video {
        display: none;
        width: 80%;
        margin: 20px 0px;
    }
}